<div class="container">
  <div class="new">
    <div class="form-input my-5">
      <%= simple_form_for @product do |f| %>
        <%= f.input :name,  label: false, required: true,  class: ""%>
        <%= f.input :description,  label: false, required: true %>
        <%= f.input :price,  label: false, required: true %>
        <%= f.input :photo, as: :file,  label: false %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
